/**/.idea/
/**/venv/
/RecommendSystemOffline/.idea/
/RecommendSystemOffline/venv/
/ElectonicMall/.idea/
/ElectonicMall/target/
/ElectonicMall/ElectonicMall.iml
/ElectonicMall/src/test
/imgs
/logs
/DataCooke