<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- 控制台的日志记录-->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p][%d{yyyy-MM-dd HH\:mm\:ss}] %t %c %m %n" />
        </layout>
    </appender>
    <appender name="asyncConsole" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="console" />
    </appender>
    
    <!--行为日志记录-->
    <appender name="behavior" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="E:/GraductionProject/logs/behavior/behavior.log" />
        <param name="Encoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH\:mm\:ss}\t%m%n"/>
        </layout>
    </appender>
    <appender name="asyncBehavior" class="org.apache.log4j.AsyncAppender">
        <appender-ref ref="behavior"/>
    </appender>

    <!--屏蔽Spring的debug日志-->
    <logger name="org.springframework" additivity="false">
        <level value="DEBUG"/>
    </logger>

    <!--behavior logger-->
    <logger name="BehaviorLogger" additivity="false">
        <level value="info"/>
        <appender-ref ref="asyncBehavior"/>
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="debug" />
        <appender-ref ref="asyncConsole"/>
    </root>

</log4j:configuration>